h1 {
  color: rgb(68, 157, 157);
  text-align: center;
}

#frame {
  background-color: rgb(13, 255, 255);
  border-radius: 20px;
  width: 400px;
  margin: auto;
  padding: 30px;
  margin-top: 30px;
}

li {
  font-size: 20px;
  font-weight: bolder;
}

ul {
  color: blue;
}

a:visited, a:link {
  font-size: 20px;
  color: rgb(53, 45, 45);
  text-decoration: none;
}

